In [ ]:
import pandas as pd

In [ ]:
import os
if 'COLAB_GPU' in os.environ:
    from google.colab import  drive
    drive.mount('/drive')
    data_path = '/drive/Shared drives/Capstone/notebooks/data'
else:
    data_path = 'data'

Mounted at /drive

In [ ]:
crosswalk_df = pd.read_csv(f'{data_path}/processed/state_county_fips.csv', index_col=[0])
print(len(crosswalk_df['FIPS']))
crosswalk_df.head()

3221

,NAME,state,county,County_Name,State_Name,State_Abbreviation,State_Abbreviation_County,FIPS
1,"Sebastian County, Arkansas",5,131,SEBASTIAN,Arkansas,AR,AR-SEBASTIAN,5131
2,"Sevier County, Arkansas",5,133,SEVIER,Arkansas,AR,AR-SEVIER,5133
3,"Sharp County, Arkansas",5,135,SHARP,Arkansas,AR,AR-SHARP,5135
4,"Stone County, Arkansas",5,137,STONE,Arkansas,AR,AR-STONE,5137
5,"Union County, Arkansas",5,139,UNION,Arkansas,AR,AR-UNION,5139

In [ ]:
crosswalk_df = crosswalk_df[crosswalk_df['State_Name'] != 'Puerto Rico']

In [ ]:
crosswalk_df[crosswalk_df['FIPS']==54001]

,NAME,state,county,County_Name,State_Name,State_Abbreviation,State_Abbreviation_County,FIPS
2823,"Barbour County, West Virginia",54,1,BARBOUR,West Virginia,WV,WV-BARBOUR,54001

In [ ]:
county_acs_df = pd.read_csv(f'{data_path}/interim/us_county_acs.csv')
county_acs_df.drop(['state', 'county'], axis=1, inplace=True)
print(len(county_acs_df))
county_acs_df.head()

3220

,name,population,white,black,native_american,asian,hawaiian,some_other_race_alone,two_more_races,hispanic_or_latino,...,employed_25_54_population,employed_16_64_population,preschool_enroll,white_under_5,black_under_5,indigenous_under_5,asian_under_5,hispanic_under_5,two_or_more_race_under_5,some_other_race_under_5
0,"Autauga County, Alabama",55380.0,0.767913,0.190285,0.002528,0.010347,0.000469,0.006826,0.021632,0.028259,...,0.729885,0.663667,0.262213,0.745415,0.211066,0.011501,0.000000,0.048803,0.026733,0.005284
1,"Baldwin County, Alabama",212830.0,0.862054,0.092647,0.007729,0.009252,0.000042,0.011413,0.016863,0.045628,...,0.777306,0.682459,0.412088,0.827616,0.127299,0.000000,0.009582,0.092822,0.021131,0.014372
2,"Barbour County, Alabama",25361.0,0.468002,0.475770,0.003233,0.005284,0.000039,0.035685,0.011987,0.043571,...,0.509309,0.476642,0.365234,0.346182,0.489993,0.000000,0.007413,0.099333,0.040771,0.115641
3,"Bibb County, Alabama",22493.0,0.767883,0.222914,0.001334,0.001200,0.000000,0.000400,0.006269,0.025741,...,0.564967,0.534009,0.207831,0.788593,0.211407,0.000000,0.000000,0.081369,0.000000,0.000000
4,"Blount County, Alabama",57681.0,0.954595,0.016088,0.000797,0.003675,0.000433,0.008530,0.015880,0.092613,...,0.678960,0.589219,0.190208,0.902389,0.019231,0.001166,0.000000,0.158800,0.025058,0.052156

In [ ]:
main_df = crosswalk_df.merge(county_acs_df, how='left', left_on='NAME', right_on='name')
main_df.drop(['name'], axis=1, inplace=True)
main_df.head()

,NAME,state,county,County_Name,State_Name,State_Abbreviation,State_Abbreviation_County,FIPS,population,white,...,employed_25_54_population,employed_16_64_population,preschool_enroll,white_under_5,black_under_5,indigenous_under_5,asian_under_5,hispanic_under_5,two_or_more_race_under_5,some_other_race_under_5
0,"Sebastian County, Arkansas",5,131,SEBASTIAN,Arkansas,AR,AR-SEBASTIAN,5131,127591.0,0.734785,...,0.738954,0.673970,0.466496,0.646059,0.077755,0.009868,0.024135,0.231364,0.093330,0.148853
1,"Sevier County, Arkansas",5,133,SEVIER,Arkansas,AR,AR-SEVIER,5133,17081.0,0.629003,...,0.745964,0.655378,0.563745,0.484226,0.088041,0.029347,0.000000,0.441673,0.035950,0.341893
2,"Sharp County, Arkansas",5,135,SHARP,Arkansas,AR,AR-SHARP,5135,17139.0,0.950114,...,0.677100,0.565149,0.403315,0.976303,0.010664,0.000000,0.000000,0.037915,0.013033,0.000000
3,"Stone County, Arkansas",5,137,STONE,Arkansas,AR,AR-STONE,5137,12475.0,0.965451,...,0.711146,0.595478,0.324324,0.987719,0.000000,0.000000,0.000000,0.024561,0.012281,0.000000
4,"Union County, Arkansas",5,139,UNION,Arkansas,AR,AR-UNION,5139,39449.0,0.638825,...,0.679121,0.608131,0.500845,0.566325,0.351957,0.028506,0.000000,0.076017,0.053212,0.000000

In [ ]:
effective_edu_df = pd.read_csv(f'{data_path}/processed/avg_edu_prof_all.csv')
print(len(effective_edu_df))
effective_edu_df.head()

3216

     FIPS  avg_edu_prof_diff
0  1001.0          -2.000000
1  1003.0          -0.800000
2  1005.0           0.817457
3  1007.0          -1.000000
4  1009.0          -0.491528

In [ ]:
main_df = main_df.merge(effective_edu_df, how='left', left_on='FIPS', right_on='FIPS')
main_df.sample(5)

,NAME,state,county,County_Name,State_Name,State_Abbreviation,State_Abbreviation_County,FIPS,population,white,...,employed_16_64_population,preschool_enroll,white_under_5,black_under_5,indigenous_under_5,asian_under_5,hispanic_under_5,two_or_more_race_under_5,some_other_race_under_5,avg_edu_prof_diff
569,"Dade County, Missouri",29,57,DADE,Missouri,MO,MO-DADE,29057,7578.0,0.954605,...,0.616785,0.344371,0.986188,0.000000,0.000000,0.000000,0.038674,0.013812,0.000000,-4.270625
2289,"Pine County, Minnesota",27,115,PINE,Minnesota,MN,MN-PINE,27115,29223.0,0.913698,...,0.649317,0.373967,0.903061,0.002915,0.017493,0.012391,0.034985,0.063411,0.000729,-1.009947
999,"Franklin County, Iowa",19,69,FRANKLIN,Iowa,IA,IA-FRANKLIN,19069,10162.0,0.951486,...,0.768571,0.547264,0.890728,0.009934,0.000000,0.000000,0.274834,0.011589,0.087748,-1.908228
2219,"Lake County, Minnesota",27,75,LAKE,Minnesota,MN,MN-LAKE,27075,10560.0,0.969129,...,0.736791,0.430303,0.987730,0.004090,0.000000,0.000000,0.002045,0.008180,0.000000,-1.000000
2363,"Clarendon County, South Carolina",45,27,CLARENDON,South Carolina,SC,SC-CLARENDON,45027,33957.0,0.492652,...,0.528883,0.320728,0.431300,0.523105,0.000000,0.000000,0.072089,0.021565,0.024030,-0.288716

In [ ]:
low_birthweight_df = pd.read_csv(f'{data_path}/interim/county_low_birth.csv', index_col=[1])
low_birthweight_df.drop(['level_0','County of Residence'], axis=1, inplace=True)
low_birthweight_df.head()

,County of Residence Code,low_birth_rate,Not Hispanic or Latino_low_birth_rate,Hispanic or Latino_low_birth_rate,Unknown or Not Stated_low_birth_rate,Black or African American_low_birth_rate,White_low_birth_rate,Asian_low_birth_rate,More than one race_low_birth_rate,American Indian or Alaska Native_low_birth_rate,Native Hawaiian or Other Pacific Islander_low_birth_rate
index,,,,,,,,,,,
0,16001.0,0.057352,0.056522,0.042308,NaN,NaN,0.055351,0.057803,0.075758,NaN,NaN
1,8001.0,0.094523,0.097646,0.088296,0.1,0.106618,0.089228,0.101266,0.076433,NaN,NaN
2,42001.0,0.059977,0.058215,NaN,NaN,NaN,0.057953,NaN,NaN,NaN,NaN
3,45003.0,0.103391,0.103023,NaN,NaN,0.145228,0.065343,NaN,NaN,NaN,NaN
4,12001.0,0.106652,0.109038,0.070632,NaN,0.176259,0.072773,NaN,NaN,NaN,NaN

In [ ]:
main_df = main_df.merge(low_birthweight_df, how='left', left_on='FIPS', right_on='County of Residence Code')
main_df.drop(['County of Residence Code'], axis=1, inplace=True)
main_df.sample(5)

,NAME,state,county,County_Name,State_Name,State_Abbreviation,State_Abbreviation_County,FIPS,population,white,...,low_birth_rate,Not Hispanic or Latino_low_birth_rate,Hispanic or Latino_low_birth_rate,Unknown or Not Stated_low_birth_rate,Black or African American_low_birth_rate,White_low_birth_rate,Asian_low_birth_rate,More than one race_low_birth_rate,American Indian or Alaska Native_low_birth_rate,Native Hawaiian or Other Pacific Islander_low_birth_rate
1482,"Beaver County, Utah",49,1,BEAVER,Utah,UT,UT-BEAVER,49001,6517.0,0.936474,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
191,"Columbia County, Florida",12,23,COLUMBIA,Florida,FL,FL-COLUMBIA,12023,69968.0,0.766793,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1888,"Johnson County, Illinois",17,87,JOHNSON,Illinois,IL,IL-JOHNSON,17087,12494.0,0.876741,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2198,"Morgan County, Georgia",13,211,MORGAN,Georgia,GA,GA-MORGAN,13211,18507.0,0.739882,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1063,"Ohio County, Indiana",18,115,OHIO,Indiana,IN,IN-OHIO,18115,5874.0,0.969356,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
HPSA_df = pd.read_csv(f'{data_path}/processed/healthcare_shortages.csv')
HPSA_df.head()

   FIPS  HPSA Score
0  1001        12.0
1  1007        10.0
2  1009         7.0
3  1017        14.0
4  1019        11.0

In [ ]:
HPSA_df[['FIPS', 'HPSA Score']].groupby('FIPS').count().sort_values(by='HPSA Score', ascending=False).head()

       HPSA Score
FIPS
1001            1
39095           1
42031           1
42033           1
42035           1

In [ ]:
main_df = main_df.merge(HPSA_df, how='left', left_on='FIPS', right_on='FIPS')
main_df.sample(5)

,NAME,state,county,County_Name,State_Name,State_Abbreviation,State_Abbreviation_County,FIPS,population,white,...,Not Hispanic or Latino_low_birth_rate,Hispanic or Latino_low_birth_rate,Unknown or Not Stated_low_birth_rate,Black or African American_low_birth_rate,White_low_birth_rate,Asian_low_birth_rate,More than one race_low_birth_rate,American Indian or Alaska Native_low_birth_rate,Native Hawaiian or Other Pacific Islander_low_birth_rate,HPSA Score
2085,"Lincoln County, Wisconsin",55,69,LINCOLN,Wisconsin,WI,WI-LINCOLN,55069,27744.0,0.967921,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1446,"Marshall County, Oklahoma",40,95,MARSHALL,Oklahoma,OK,OK-MARSHALL,40095,16505.0,0.702272,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
446,"Scotland County, Missouri",29,199,SCOTLAND,Missouri,MO,MO-SCOTLAND,29199,4902.0,0.992656,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3017,"Campbell County, Tennessee",47,13,CAMPBELL,Tennessee,TN,TN-CAMPBELL,47013,39797.0,0.972686,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2143,"Gwinnett County, Georgia",13,135,GWINNETT,Georgia,GA,GA-GWINNETT,13135,915046.0,0.484589,...,0.099492,0.071758,NaN,0.137576,0.066656,0.084274,0.041494,NaN,NaN,NaN

In [ ]:

homeless_df = pd.read_csv(f'{data_path}/processed/homeless_students_201819-totals.csv')
homeless_df.drop_duplicates(inplace=True)
homeless_df.head()

homeless_df[homeless_df['FIPS']==51059] #2467.0
homeless_df[homeless_df['FIPS']==51600] #2467.0

main_df[main_df['FIPS'].isin([51059, 51600])]['public_students_pre_12'].sum()

186029.0

In [ ]:
main_df = main_df.merge(homeless_df, how='left', left_on='FIPS', right_on='FIPS')

In [ ]:

# fairfax city county, virginia shares school districts with fairfax county, VA so 
# they need to be handled appropriately 
# one solution is to set the total public school students to the sum of Fairfax County and Fairfax city public school students
# then the calculations should be more reasonable
main_df.loc[main_df['FIPS'] == 51059, 'HOM_STUDENTS'] = main_df[main_df['FIPS']==51059]['HOM_STUDENTS']* main_df[main_df['FIPS'].isin([51059])]['public_students_pre_12']/main_df[main_df['FIPS'].isin([51059, 51600])]['public_students_pre_12'].sum()

In [ ]:
main_df.loc[main_df['FIPS'] == 51600, 'HOM_STUDENTS'] = main_df[main_df['FIPS']==51600]['HOM_STUDENTS']* main_df[main_df['FIPS'].isin([51600])]['public_students_pre_12']/main_df[main_df['FIPS'].isin([51059, 51600])]['public_students_pre_12'].sum()

In [ ]:

main_df['proportion_homeless'] = main_df['HOM_STUDENTS']/main_df['public_students_pre_12']
main_df.sample(5)

main_df['proportion_homeless'].sort_values(ascending=False)

main_df[['NAME', 'public_students_pre_12','HOM_STUDENTS']].loc[2475]

NAME                      Williamsburg city, Virginia
public_students_pre_12                          906.0
HOM_STUDENTS                                    430.0
Name: 2475, dtype: object

In [ ]:
main_df[main_df['FIPS']==51600][['proportion_homeless', 'HOM_STUDENTS', 'population', 'state', 'public_students_pre_12']]

,proportion_homeless,HOM_STUDENTS,population,state,public_students_pre_12
2399,0.013261,36.959447,23531.0,51,2787.0

In [ ]:
# voter turnout proportion (acs voter age/ total votes) for fips
voting_df = pd.read_csv(f'{data_path}/processed/presidential_precinct_general.csv')

In [ ]:
main_df = main_df.merge(voting_df, how='left', left_on='FIPS', right_on='FIPS')
main_df.sample(5)

,NAME,state,county,County_Name,State_Name,State_Abbreviation,State_Abbreviation_County,FIPS,population,white,...,Black or African American_low_birth_rate,White_low_birth_rate,Asian_low_birth_rate,More than one race_low_birth_rate,American Indian or Alaska Native_low_birth_rate,Native Hawaiian or Other Pacific Islander_low_birth_rate,HPSA Score,HOM_STUDENTS,proportion_homeless,proportion_voter
2600,"Lafayette County, Mississippi",28,71,LAFAYETTE,Mississippi,MS,MS-LAFAYETTE,28071,53590.0,0.714219,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,88.0,0.013545,0.547011
1116,"Licking County, Ohio",39,89,LICKING,Ohio,OH,OH-LICKING,39089,173750.0,0.914164,...,NaN,0.07331,NaN,NaN,NaN,NaN,10.0,832.0,0.030167,0.706450
1515,"Marion County, Kentucky",21,155,MARION,Kentucky,KY,KY-MARION,21155,19244.0,0.901528,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,50.0,0.013904,0.619699
222,"Monroe County, Florida",12,87,MONROE,Florida,FL,FL-MONROE,12087,75798.0,0.880340,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,352.0,0.044473,0.846295
2874,"Arenac County, Michigan",26,11,ARENAC,Michigan,MI,MI-ARENAC,26011,15070.0,0.962177,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,95.0,0.046364,0.721369

In [ ]:
# import race/ethnicity data
race_df = pd.read_csv(f'{data_path}/interim/county_race_ethnicities.csv')
race_df.drop(axis=1, columns='population', inplace=True)


main_df = main_df.merge(race_df, how='left', on=['state', 'county'])

In [ ]:
main_df.count()

NAME                                          3143
state                                         3143
county                                        3143
County_Name                                   3143
State_Name                                    3143
                                              ...
hispanic_or_latino_asian_total                3140
hispanic_or_latino_hawaiian_total             3140
hispanic_or_latino_some_other_race_total      3140
hispanic_or_latino_two_or_more_races_total    3140
not_hispanic_or_latino_total                  3140
Length: 82, dtype: int64

In [ ]:
transportation_df = pd.read_csv(f'{data_path}/processed/national_transportation_index.csv')

In [ ]:
main_df = main_df.merge(transportation_df, how='left', left_on='FIPS', right_on='FIPS')
main_df.sample(5)

,NAME,state,county,County_Name,State_Name,State_Abbreviation,State_Abbreviation_County,FIPS,population,white,...,hispanic_or_latino_white_total,hispanic_or_latino_black_total,hispanic_or_latino_american_indian_total,hispanic_or_latino_asian_total,hispanic_or_latino_hawaiian_total,hispanic_or_latino_some_other_race_total,hispanic_or_latino_two_or_more_races_total,not_hispanic_or_latino_total,transit_trips_index,transit_low_cost_index
274,"Pima County, Arizona",4,19,PIMA,Arizona,AZ,AZ-PIMA,4019,1027207.0,0.760318,...,249596.0,3102.0,14702.0,1320.0,240.0,86643.0,26982.0,644622.0,50.947670,38.741394
1821,"Ogemaw County, Michigan",26,129,OGEMAW,Michigan,MI,MI-OGEMAW,26129,20898.0,0.965116,...,390.0,0.0,13.0,0.0,0.0,34.0,12.0,20449.0,5.295414,4.123434
634,"De Baca County, New Mexico",35,11,DE BACA,New Mexico,NM,NM-DE BACA,35011,2040.0,0.668627,...,458.0,0.0,0.0,7.0,0.0,457.0,169.0,949.0,5.295414,0.930058
1844,"Beltrami County, Minnesota",27,7,BELTRAMI,Minnesota,MN,MN-BELTRAMI,27007,46403.0,0.728789,...,458.0,257.0,278.0,0.0,0.0,0.0,137.0,45273.0,33.214444,19.964652
1254,"Sargent County, North Dakota",38,81,SARGENT,North Dakota,ND,ND-SARGENT,38081,3872.0,0.941890,...,87.0,4.0,6.0,0.0,0.0,18.0,5.0,3752.0,61.117682,42.594484

In [ ]:
crime_df = pd.read_csv(f'{data_path}/processed/weighted_crime_data_fips_split.csv').rename(columns={'fips_keys': 'FIPS'})

In [ ]:
crime_df

       FIPS  final_2019_crimes  crime_rate
0      1001          64.744221  116.909030
1      1003         334.000000  156.932763
2      1005          79.000000  311.501912
3      1007          24.489408  108.875686
4      1009         157.000000  272.186682
...     ...                ...         ...
3127  56037          82.000000  188.414788
3128  56039           0.000000    0.000000
3129  56041          32.000000  156.257630
3130  56043          10.000000  124.579544
3131  56045          10.000000  141.864094

[3132 rows x 3 columns]

In [ ]:
crime_df.sort_values(by='crime_rate', ascending=False)

       FIPS  final_2019_crimes   crime_rate
1589  29510             5792.0  1879.457709
1208  24510            11101.0  1822.728527
122    5035              740.0  1520.381328
2496  47157            13435.0  1434.789945
82     2185              123.0  1256.127451
...     ...                ...          ...
1406  28027                0.0     0.000000
84     2195               10.0          NaN
1134  22059               33.0          NaN
1794  35013              759.0          NaN
2402  46102                0.0          NaN

[3132 rows x 3 columns]

In [ ]:
main_df = main_df.merge(crime_df, how='left', left_on='FIPS', right_on='FIPS')
main_df.sample(5)

,NAME,state,county,County_Name,State_Name,State_Abbreviation,State_Abbreviation_County,FIPS,population,white,...,hispanic_or_latino_american_indian_total,hispanic_or_latino_asian_total,hispanic_or_latino_hawaiian_total,hispanic_or_latino_some_other_race_total,hispanic_or_latino_two_or_more_races_total,not_hispanic_or_latino_total,transit_trips_index,transit_low_cost_index,final_2019_crimes,crime_rate
254,"Petersburg Census Area, Alaska",2,195,PETERSBURG CENSUS AREA,Alaska,AK,AK-PETERSBURG CENSUS AREA,2195,NaN,NaN,...,15.0,4.0,0.0,6.0,9.0,2876.0,39.954841,55.464760,10.000000,NaN
1084,"Wabash County, Indiana",18,169,WABASH,Indiana,IN,IN-WABASH,18169,31389.0,0.955781,...,4.0,0.0,0.0,343.0,64.0,30570.0,NaN,NaN,1.000000,3.185829
1314,"Jefferson County, Texas",48,245,JEFFERSON,Texas,TX,TX-JEFFERSON,48245,254340.0,0.583200,...,446.0,72.0,0.0,5143.0,1355.0,201632.0,32.998226,40.901795,1737.038909,682.959388
1907,"Ogle County, Illinois",17,141,OGLE,Illinois,IL,IL-OGLE,17141,51025.0,0.942773,...,46.0,0.0,15.0,1082.0,201.0,45859.0,NaN,NaN,317.168802,621.594908
2654,"Clark County, South Dakota",46,25,CLARK,South Dakota,SD,SD-CLARK,46025,3685.0,0.950882,...,0.0,0.0,0.0,60.0,0.0,3565.0,12.329982,18.267835,1.000000,27.137042

In [ ]:
# 
juvenile_crime_df = pd.read_csv(f'{data_path}/processed/juvenile_arrests_fips.csv')

In [ ]:
main_df = main_df.merge(juvenile_crime_df, how='left', left_on='FIPS', right_on='FIPS')

In [ ]:
# calculate rate of juvenile crime(arrests) per 100k residents 
main_df['juvenile_crime_rate'] = (main_df['Total_Juvenile_Arrests']/main_df['population']) * 100000

In [ ]:
main_df.head()

,NAME,state,county,County_Name,State_Name,State_Abbreviation,State_Abbreviation_County,FIPS,population,white,...,hispanic_or_latino_hawaiian_total,hispanic_or_latino_some_other_race_total,hispanic_or_latino_two_or_more_races_total,not_hispanic_or_latino_total,transit_trips_index,transit_low_cost_index,final_2019_crimes,crime_rate,Total_Juvenile_Arrests,juvenile_crime_rate
0,"Sebastian County, Arkansas",5,131,SEBASTIAN,Arkansas,AR,AR-SEBASTIAN,5131,127591.0,0.734785,...,10.0,11820.0,1074.0,109447.0,35.267748,17.683292,976.849587,765.610104,607.0,475.738884
1,"Sevier County, Arkansas",5,133,SEVIER,Arkansas,AR,AR-SEVIER,5133,17081.0,0.629003,...,0.0,4654.0,42.0,11370.0,13.297336,6.855814,60.000000,351.267490,77.0,450.793279
2,"Sharp County, Arkansas",5,135,SHARP,Arkansas,AR,AR-SHARP,5135,17139.0,0.950114,...,0.0,53.0,47.0,16748.0,5.295414,1.105451,13.920429,81.220777,123.0,717.661474
3,"Stone County, Arkansas",5,137,STONE,Arkansas,AR,AR-STONE,5137,12475.0,0.965451,...,0.0,1.0,0.0,12232.0,7.195850,0.887049,11.000000,88.176353,0.0,0.000000
4,"Union County, Arkansas",5,139,UNION,Arkansas,AR,AR-UNION,5139,39449.0,0.638825,...,0.0,177.0,13.0,37872.0,18.841998,11.866298,299.000000,757.940632,75.0,190.118888

In [ ]:
# diversity poverty 
diversity_poverty_df = pd.read_csv(f'{data_path}/interim/county_diversity_poverty.csv')

In [ ]:
diversity_poverty_df['FIPS_county'] = diversity_poverty_df['county'].astype(str).str.zfill(3)
diversity_poverty_df['FIPS'] = (diversity_poverty_df['state'].astype(str) + diversity_poverty_df['FIPS_county']).astype(int)
diversity_poverty_df.drop(['FIPS_county','state', 'county', 'year'], axis=1, inplace=True)
diversity_poverty_df.head()

,hispanic_or_latino_exposure,white_exposure,black_exposure,native_american_exposure,asian_exposure,hawaiian_exposure,some_other_race_alone_exposure,two_more_races_exposure,proportion_high_poverty_neighborhood,FIPS
0,0.956510,0.212265,0.731823,0.991504,0.972936,0.991068,0.955512,0.965904,0.000000,1001
1,0.922474,0.125351,0.792728,0.978007,0.971191,0.998263,0.971838,0.970935,0.000000,1003
2,0.920309,0.506731,0.499511,0.990500,0.989702,0.999374,0.927236,0.982170,0.234909,1005
3,0.962017,0.202068,0.679886,0.996733,0.997198,0.000000,0.999066,0.990628,0.000000,1007
4,0.846191,0.044934,0.971955,0.996659,0.994517,0.993537,0.973111,0.978451,0.000000,1009

In [ ]:
main_df = main_df.merge(diversity_poverty_df, how='left', left_on='FIPS', right_on='FIPS')
main_df.sample(5)

,NAME,state,county,County_Name,State_Name,State_Abbreviation,State_Abbreviation_County,FIPS,population,white,...,juvenile_crime_rate,hispanic_or_latino_exposure,white_exposure,black_exposure,native_american_exposure,asian_exposure,hawaiian_exposure,some_other_race_alone_exposure,two_more_races_exposure,proportion_high_poverty_neighborhood
2697,"Jefferson County, Nebraska",31,95,JEFFERSON,Nebraska,NE,NE-JEFFERSON,31095,7144.0,0.969485,...,69.988802,0.952140,0.030300,0.984710,0.994855,0.994567,0.000000,0.994105,0.981811,0.000000
1093,"Camden County, North Carolina",37,29,CAMDEN,North Carolina,NC,NC-CAMDEN,37029,10551.0,0.826272,...,94.777746,0.964398,0.173727,0.861549,0.997904,0.981061,0.997307,0.995108,0.987557,0.000000
3134,"Grant County, Wisconsin",55,43,GRANT,Wisconsin,WI,WI-GRANT,55043,51733.0,0.964510,...,409.796455,0.981873,0.034697,0.948198,0.994785,0.978028,0.000000,0.994985,0.990593,0.000000
2416,"Yellowstone County, Montana",30,111,YELLOWSTONE,Montana,MT,MT-YELLOWSTONE,30111,159008.0,0.902055,...,415.387905,0.922807,0.094499,0.981945,0.924921,0.978221,0.978647,0.984538,0.957620,0.000000
1275,"Allen County, Ohio",39,3,ALLEN,Ohio,OH,OH-ALLEN,39003,103175.0,0.825403,...,369.275503,0.941811,0.145197,0.745033,0.988149,0.975660,0.000000,0.960183,0.924573,0.148274

In [ ]:
debt_df = pd.read_csv(f'{data_path}/processed/household_debt.csv')

In [ ]:
main_df = main_df.merge(debt_df, how='left', left_on='FIPS', right_on='FIPS')
main_df.sample(5)

,NAME,state,county,County_Name,State_Name,State_Abbreviation,State_Abbreviation_County,FIPS,population,white,...,hispanic_or_latino_exposure,white_exposure,black_exposure,native_american_exposure,asian_exposure,hawaiian_exposure,some_other_race_alone_exposure,two_more_races_exposure,proportion_high_poverty_neighborhood,debt_all
946,"Kossuth County, Iowa",19,109,KOSSUTH,Iowa,IA,IA-KOSSUTH,19109,14978.0,0.966818,...,0.963523,0.032720,0.984115,0.986846,0.989887,0.999038,0.978331,0.982969,0.0,0.132743
1184,"Real County, Texas",48,385,REAL,Texas,TX,TX-REAL,48385,3408.0,0.952171,...,0.737383,0.047829,0.994425,0.000000,0.999413,0.000000,0.958627,0.999707,0.0,0.269565
1228,"Seward County, Kansas",20,175,SEWARD,Kansas,KS,KS-SEWARD,20175,22349.0,0.594389,...,0.347160,0.386640,0.941880,0.975639,0.951384,0.988753,0.669921,0.978196,0.0,0.364912
167,"Litchfield County, Connecticut",9,5,LITCHFIELD,Connecticut,CT,CT-LITCHFIELD,9005,182002.0,0.927688,...,0.898954,0.070482,0.954750,0.980230,0.960285,0.995724,0.968072,0.961324,0.0,0.205457
2283,"Bristol County, Rhode Island",44,1,BRISTOL,Rhode Island,RI,RI-BRISTOL,44001,48764.0,0.941904,...,0.959459,0.057423,0.963634,0.996618,0.964381,0.000000,0.983806,0.972419,0.0,0.135777

In [ ]:
aqi_df = pd.read_csv(f'{data_path}/processed/air_quality_index.csv')

In [ ]:
main_df = main_df.merge(aqi_df, how='left', left_on='FIPS', right_on='FIPS')
main_df.sample(5)

,NAME,state,county,County_Name,State_Name,State_Abbreviation,State_Abbreviation_County,FIPS,population,white,...,white_exposure,black_exposure,native_american_exposure,asian_exposure,hawaiian_exposure,some_other_race_alone_exposure,two_more_races_exposure,proportion_high_poverty_neighborhood,debt_all,AQI
209,"Holmes County, Florida",12,59,HOLMES,Florida,FL,FL-HOLMES,12059,19432.0,0.887042,...,0.105964,0.878832,0.980307,0.981505,0.992944,0.991056,0.976048,0.000000,0.331492,40.0
485,"Hill County, Montana",30,41,HILL,Montana,MT,MT-HILL,30041,16436.0,0.702361,...,0.167125,0.993703,0.356658,0.990941,0.000000,0.954727,0.949422,0.000000,0.259101,NaN
2774,"Whitman County, Washington",53,75,WHITMAN,Washington,WA,WA-WHITMAN,53075,49231.0,0.824135,...,0.160117,0.968868,0.994078,0.837586,0.995562,0.973954,0.930592,0.634459,0.135634,18.0
2970,"Kalamazoo County, Michigan",26,77,KALAMAZOO,Michigan,MI,MI-KALAMAZOO,26077,262745.0,0.807688,...,0.161275,0.712908,0.991911,0.952160,0.992219,0.982161,0.933402,0.123903,0.247164,38.0
93,"Montgomery County, Alabama",1,101,MONTGOMERY,Alabama,AL,AL-MONTGOMERY,1101,226941.0,0.358089,...,0.476678,0.299390,0.990955,0.894782,0.994080,0.949364,0.963809,0.201475,0.406119,52.0

In [ ]:
main_df.to_csv(f'{data_path}/processed/counties_merged.csv', index=False)