In [ ]:
import pandas as pd

In [ ]:
data_path = 'data'

Mounted at /drive

In [ ]:
crosswalk_df = pd.read_csv(f'{data_path}/processed/state_county_fips.csv', index_col=[0])
print(len(crosswalk_df['FIPS']))
crosswalk_df.head()

3221

,NAME,state,county,County_Name,State_Name,State_Abbreviation,State_Abbreviation_County,FIPS
1,"Sebastian County, Arkansas",5,131,SEBASTIAN,Arkansas,AR,AR-SEBASTIAN,5131
2,"Sevier County, Arkansas",5,133,SEVIER,Arkansas,AR,AR-SEVIER,5133
3,"Sharp County, Arkansas",5,135,SHARP,Arkansas,AR,AR-SHARP,5135
4,"Stone County, Arkansas",5,137,STONE,Arkansas,AR,AR-STONE,5137
5,"Union County, Arkansas",5,139,UNION,Arkansas,AR,AR-UNION,5139

In [ ]:
crosswalk_df = crosswalk_df[crosswalk_df['State_Name'] != 'Puerto Rico']

In [ ]:
crosswalk_df[crosswalk_df['FIPS']==54001]

,NAME,state,county,County_Name,State_Name,State_Abbreviation,State_Abbreviation_County,FIPS
2823,"Barbour County, West Virginia",54,1,BARBOUR,West Virginia,WV,WV-BARBOUR,54001

In [ ]:
county_acs_df = pd.read_csv(f'{data_path}/interim/us_county_acs.csv')
county_acs_df.drop(['state', 'county'], axis=1, inplace=True)
print(len(county_acs_df))
county_acs_df.head()

3220

,name,population,white,black,native_american,asian,hawaiian,some_other_race_alone,two_more_races,hispanic_or_latino,...,preschool_enrollment_hispanic_3_4,preschool_enrollment_indigenous_3_4,preschool_enrollment_asian_3_4,white_under_5,black_under_5,indigenous_under_5,asian_under_5,hispanic_under_5,two_or_more_race_under_5,some_other_race_under_5
0,"Autauga County, Alabama",55380.0,0.767913,0.190285,0.002528,0.010347,0.000469,0.006826,0.021632,0.028259,...,0.015086,0.0,0.000000,0.745415,0.211066,0.011501,0.000000,0.048803,0.026733,0.005284
1,"Baldwin County, Alabama",212830.0,0.862054,0.092647,0.007729,0.009252,0.000042,0.011413,0.016863,0.045628,...,0.065934,0.0,0.007143,0.827616,0.127299,0.000000,0.009582,0.092822,0.021131,0.014372
2,"Barbour County, Alabama",25361.0,0.468002,0.475770,0.003233,0.005284,0.000039,0.035685,0.011987,0.043571,...,0.007812,0.0,0.000000,0.346182,0.489993,0.000000,0.007413,0.099333,0.040771,0.115641
3,"Bibb County, Alabama",22493.0,0.767883,0.222914,0.001334,0.001200,0.000000,0.000400,0.006269,0.025741,...,0.031627,0.0,0.000000,0.788593,0.211407,0.000000,0.000000,0.081369,0.000000,0.000000
4,"Blount County, Alabama",57681.0,0.954595,0.016088,0.000797,0.003675,0.000433,0.008530,0.015880,0.092613,...,0.049522,0.0,0.017445,0.902389,0.019231,0.001166,0.000000,0.158800,0.025058,0.052156

In [ ]:
main_df = crosswalk_df.merge(county_acs_df, how='left', left_on='NAME', right_on='name')
main_df.drop(['name'], axis=1, inplace=True)
main_df.head()

,NAME,state,county,County_Name,State_Name,State_Abbreviation,State_Abbreviation_County,FIPS,population,white,...,preschool_enrollment_hispanic_3_4,preschool_enrollment_indigenous_3_4,preschool_enrollment_asian_3_4,white_under_5,black_under_5,indigenous_under_5,asian_under_5,hispanic_under_5,two_or_more_race_under_5,some_other_race_under_5
0,"Sebastian County, Arkansas",5,131,SEBASTIAN,Arkansas,AR,AR-SEBASTIAN,5131,127591.0,0.734785,...,0.121756,0.000855,0.025093,0.646059,0.077755,0.009868,0.024135,0.231364,0.093330,0.148853
1,"Sevier County, Arkansas",5,133,SEVIER,Arkansas,AR,AR-SEVIER,5133,17081.0,0.629003,...,0.466135,0.000000,0.000000,0.484226,0.088041,0.029347,0.000000,0.441673,0.035950,0.341893
2,"Sharp County, Arkansas",5,135,SHARP,Arkansas,AR,AR-SHARP,5135,17139.0,0.950114,...,0.008287,0.000000,0.000000,0.976303,0.010664,0.000000,0.000000,0.037915,0.013033,0.000000
3,"Stone County, Arkansas",5,137,STONE,Arkansas,AR,AR-STONE,5137,12475.0,0.965451,...,0.063063,0.000000,0.000000,0.987719,0.000000,0.000000,0.000000,0.024561,0.012281,0.000000
4,"Union County, Arkansas",5,139,UNION,Arkansas,AR,AR-UNION,5139,39449.0,0.638825,...,0.041385,0.016047,0.000000,0.566325,0.351957,0.028506,0.000000,0.076017,0.053212,0.000000

In [ ]:
effective_edu_df = pd.read_csv(f'{data_path}/processed/FIPS_LATEST_avg_edu_prof_all.csv')
print(len(effective_edu_df))
effective_edu_df.head()

3216

     FIPS  avg_edu_prof_diff
0  1001.0          -2.000000
1  1003.0          -0.800000
2  1005.0           0.817457
3  1007.0          -1.000000
4  1009.0          -0.491528

In [ ]:
main_df = main_df.merge(effective_edu_df, how='left', left_on='FIPS', right_on='FIPS')
main_df.sample(5)

,NAME,state,county,County_Name,State_Name,State_Abbreviation,State_Abbreviation_County,FIPS,population,white,...,preschool_enrollment_indigenous_3_4,preschool_enrollment_asian_3_4,white_under_5,black_under_5,indigenous_under_5,asian_under_5,hispanic_under_5,two_or_more_race_under_5,some_other_race_under_5,avg_edu_prof_diff
2323,"Waseca County, Minnesota",27,161,WASECA,Minnesota,MN,MN-WASECA,27161,18740.0,0.928975,...,0.000000,0.000000,0.909259,0.021296,0.004630,0.000000,0.084259,0.050926,0.013889,-0.213884
2247,"Sabine Parish, Louisiana",22,85,SABINE PARISH,Louisiana,LA,LA-SABINE PARISH,22085,23991.0,0.693010,...,0.048780,0.004065,0.594928,0.161069,0.059630,0.000000,0.058259,0.180946,0.003427,1.400000
3090,"Gibson County, Tennessee",47,53,GIBSON,Tennessee,TN,TN-GIBSON,47053,49228.0,0.782461,...,0.000000,0.000000,0.702720,0.170337,0.000000,0.000000,0.046632,0.125324,0.001619,-1.730399
230,"Pinellas County, Florida",12,103,PINELLAS,Florida,FL,FL-PINELLAS,12103,964666.0,0.814519,...,0.000663,0.020340,0.692420,0.140709,0.002451,0.031159,0.159211,0.116268,0.015061,-0.200000
856,"Cerro Gordo County, Iowa",19,33,CERRO GORDO,Iowa,IA,IA-CERRO GORDO,19033,42834.0,0.940561,...,0.000000,0.000000,0.918474,0.021683,0.000000,0.000000,0.075455,0.046834,0.000000,-0.138989

In [ ]:
low_birthweight_df = pd.read_csv(f'{data_path}/interim/county_low_birth.csv', index_col=[1])
low_birthweight_df.drop(['level_0','County of Residence'], axis=1, inplace=True)
low_birthweight_df.head()

,County of Residence Code,low_birth_rate,Not Hispanic or Latino_low_birth_rate,Hispanic or Latino_low_birth_rate,Unknown or Not Stated_low_birth_rate,Black or African American_low_birth_rate,White_low_birth_rate,Asian_low_birth_rate,More than one race_low_birth_rate,American Indian or Alaska Native_low_birth_rate,Native Hawaiian or Other Pacific Islander_low_birth_rate
index,,,,,,,,,,,
0,16001.0,0.057352,0.056522,0.042308,NaN,NaN,0.055351,0.057803,0.075758,NaN,NaN
1,8001.0,0.094523,0.097646,0.088296,0.1,0.106618,0.089228,0.101266,0.076433,NaN,NaN
2,42001.0,0.059977,0.058215,NaN,NaN,NaN,0.057953,NaN,NaN,NaN,NaN
3,45003.0,0.103391,0.103023,NaN,NaN,0.145228,0.065343,NaN,NaN,NaN,NaN
4,12001.0,0.106652,0.109038,0.070632,NaN,0.176259,0.072773,NaN,NaN,NaN,NaN

In [ ]:
main_df = main_df.merge(low_birthweight_df, how='left', left_on='FIPS', right_on='County of Residence Code')
main_df.drop(['County of Residence Code'], axis=1, inplace=True)
main_df.sample(5)

,NAME,state,county,County_Name,State_Name,State_Abbreviation,State_Abbreviation_County,FIPS,population,white,...,low_birth_rate,Not Hispanic or Latino_low_birth_rate,Hispanic or Latino_low_birth_rate,Unknown or Not Stated_low_birth_rate,Black or African American_low_birth_rate,White_low_birth_rate,Asian_low_birth_rate,More than one race_low_birth_rate,American Indian or Alaska Native_low_birth_rate,Native Hawaiian or Other Pacific Islander_low_birth_rate
2860,"Worcester County, Massachusetts",25,27,WORCESTER,Massachusetts,MA,MA-WORCESTER,25027,824772.0,0.836772,...,0.076669,0.078388,0.063881,NaN,0.096844,0.072282,0.088123,0.045872,NaN,NaN
739,"Ray County, Missouri",29,177,RAY,Missouri,MO,MO-RAY,29177,22875.0,0.958426,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1338,"Lee County, Texas",48,287,LEE,Texas,TX,TX-LEE,48287,17058.0,0.817505,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2201,"Newton County, Georgia",13,217,NEWTON,Georgia,GA,GA-NEWTON,13217,108079.0,0.503724,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1981,"Fillmore County, Minnesota",27,45,FILLMORE,Minnesota,MN,MN-FILLMORE,27045,20949.0,0.975798,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
HPSA_df = pd.read_csv(f'{data_path}/processed/FIPS_HPSA_PC.csv')
HPSA_df.head()

   FIPS  HPSA Score
0  1001        12.0
1  1007        10.0
2  1009         7.0
3  1017        14.0
4  1019        11.0

In [ ]:
HPSA_df[['FIPS', 'HPSA Score']].groupby('FIPS').count().sort_values(by='HPSA Score', ascending=False).head()

       HPSA Score
FIPS
1001            1
39095           1
42031           1
42033           1
42035           1

In [ ]:
main_df = main_df.merge(HPSA_df, how='left', left_on='FIPS', right_on='FIPS')
main_df.sample(5)

,NAME,state,county,County_Name,State_Name,State_Abbreviation,State_Abbreviation_County,FIPS,population,white,...,Not Hispanic or Latino_low_birth_rate,Hispanic or Latino_low_birth_rate,Unknown or Not Stated_low_birth_rate,Black or African American_low_birth_rate,White_low_birth_rate,Asian_low_birth_rate,More than one race_low_birth_rate,American Indian or Alaska Native_low_birth_rate,Native Hawaiian or Other Pacific Islander_low_birth_rate,HPSA Score
2388,"York County, Virginia",51,199,YORK,Virginia,VA,VA-YORK,51199,67982.0,0.744374,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1824,"Oscoda County, Michigan",26,135,OSCODA,Michigan,MI,MI-OSCODA,26135,8248.0,0.967629,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17.0
1763,"Breckinridge County, Kentucky",21,27,BRECKINRIDGE,Kentucky,KY,KY-BRECKINRIDGE,21027,20176.0,0.954897,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
651,"Sandoval County, New Mexico",35,43,SANDOVAL,New Mexico,NM,NM-SANDOVAL,35043,142704.0,0.720786,...,0.078697,0.106969,NaN,NaN,0.09919,NaN,NaN,0.058621,NaN,NaN
1061,"Newton County, Indiana",18,111,NEWTON,Indiana,IN,IN-NEWTON,18111,13992.0,0.973199,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15.0

In [ ]:

homeless_df = pd.read_csv(f'{data_path}/processed/FIPS_homeless_students_201819-totals.csv')
homeless_df.drop_duplicates(inplace=True)
homeless_df.head()

homeless_df[homeless_df['FIPS']==51059] #2467.0
homeless_df[homeless_df['FIPS']==51600] #2467.0

main_df[main_df['FIPS'].isin([51059, 51600])]['public_students_pre_12'].sum()

186029.0

In [ ]:
main_df = main_df.merge(homeless_df, how='left', left_on='FIPS', right_on='FIPS')

In [ ]:

# fairfax city county, virginia shares school districts with fairfax county, VA so 
# they need to be handled appropriately 
# one solution is to set the total public school students to the sum of Fairfax County and Fairfax city public school students
# then the calculations should be more reasonable
main_df.loc[main_df['FIPS'] == 51059, 'HOM_STUDENTS'] = main_df[main_df['FIPS']==51059]['HOM_STUDENTS']* main_df[main_df['FIPS'].isin([51059])]['public_students_pre_12']/main_df[main_df['FIPS'].isin([51059, 51600])]['public_students_pre_12'].sum()

In [ ]:
main_df.loc[main_df['FIPS'] == 51600, 'HOM_STUDENTS'] = main_df[main_df['FIPS']==51600]['HOM_STUDENTS']* main_df[main_df['FIPS'].isin([51600])]['public_students_pre_12']/main_df[main_df['FIPS'].isin([51059, 51600])]['public_students_pre_12'].sum()

In [ ]:

main_df['proportion_homeless'] = main_df['HOM_STUDENTS']/main_df['public_students_pre_12']
main_df.sample(5)

main_df['proportion_homeless'].sort_values(ascending=False)

main_df[['NAME', 'public_students_pre_12','HOM_STUDENTS']].loc[2475]

NAME                      Williamsburg city, Virginia
public_students_pre_12                          906.0
HOM_STUDENTS                                    430.0
Name: 2475, dtype: object

In [ ]:
main_df[main_df['FIPS']==51600][['proportion_homeless', 'HOM_STUDENTS', 'population', 'state', 'public_students_pre_12']]

,proportion_homeless,HOM_STUDENTS,population,state,public_students_pre_12
2399,0.013261,36.959447,23531.0,51,2787.0

In [ ]:
# voter turnout proportion (acs voter age/ total votes) for fips
voting_df = pd.read_csv(f'{data_path}/processed/FIPS_2020-PRESIDENT-precinct-general.csv')

In [ ]:
main_df = main_df.merge(voting_df, how='left', left_on='FIPS', right_on='FIPS')
main_df.sample(5)

,NAME,state,county,County_Name,State_Name,State_Abbreviation,State_Abbreviation_County,FIPS,population,white,...,Black or African American_low_birth_rate,White_low_birth_rate,Asian_low_birth_rate,More than one race_low_birth_rate,American Indian or Alaska Native_low_birth_rate,Native Hawaiian or Other Pacific Islander_low_birth_rate,HPSA Score,HOM_STUDENTS,proportion_homeless,proportion_voter
819,"Childress County, Texas",48,75,CHILDRESS,Texas,TX,TX-CHILDRESS,48075,7253.0,0.853302,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20.0,0.022910,0.422856
3040,"Washington County, Nebraska",31,177,WASHINGTON,Nebraska,NE,NE-WASHINGTON,31177,20361.0,0.965915,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.808928
317,"Lee County, Arkansas",5,77,LEE,Arkansas,AR,AR-LEE,5077,9194.0,0.429519,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.000898,0.394187
458,"Webster County, Missouri",29,225,WEBSTER,Missouri,MO,MO-WEBSTER,29225,38655.0,0.955064,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,260.0,0.042174,0.662726
1161,"Montgomery County, Texas",48,339,MONTGOMERY,Texas,TX,TX-MONTGOMERY,48339,571949.0,0.864451,...,0.110187,0.069692,0.06338,NaN,NaN,NaN,NaN,1769.0,0.016688,0.695399

In [ ]:
# import race/ethnicity data
race_df = pd.read_csv(f'{data_path}/interim/county_race_ethnicities.csv')
race_df.drop(axis=1, columns='population', inplace=True)


main_df = main_df.merge(race_df, how='left', on=['state', 'county'])

In [ ]:
main_df.count()

NAME                                          3143
state                                         3143
county                                        3143
County_Name                                   3143
State_Name                                    3143
                                              ...
hispanic_or_latino_asian_total                3140
hispanic_or_latino_hawaiian_total             3140
hispanic_or_latino_some_other_race_total      3140
hispanic_or_latino_two_or_more_races_total    3140
not_hispanic_or_latino_total                  3140
Length: 109, dtype: int64

In [ ]:
transportation_df = pd.read_csv(f'{data_path}/processed/national_transportation_index.csv')

In [ ]:
main_df = main_df.merge(transportation_df, how='left', left_on='FIPS', right_on='FIPS')
main_df.sample(5)

,NAME,state,county,County_Name,State_Name,State_Abbreviation,State_Abbreviation_County,FIPS,population,white,...,hispanic_or_latino_white_total,hispanic_or_latino_black_total,hispanic_or_latino_american_indian_total,hispanic_or_latino_asian_total,hispanic_or_latino_hawaiian_total,hispanic_or_latino_some_other_race_total,hispanic_or_latino_two_or_more_races_total,not_hispanic_or_latino_total,transit_trips_index,transit_low_cost_index
1372,"Dickinson County, Kansas",20,41,DICKINSON,Kansas,KS,KS-DICKINSON,20041,18828.0,0.948162,...,750.0,3.0,0.0,0.0,0.0,68.0,60.0,17947.0,17.391762,20.724244
2641,"Union County, South Carolina",45,87,UNION,South Carolina,SC,SC-UNION,45087,27490.0,0.655402,...,260.0,96.0,0.0,0.0,0.0,38.0,33.0,27063.0,18.748395,17.640629
1674,"Josephine County, Oregon",41,33,JOSEPHINE,Oregon,OR,OR-JOSEPHINE,41033,86251.0,0.923560,...,4705.0,43.0,80.0,24.0,0.0,1029.0,527.0,79843.0,11.970543,9.100317
922,"Grayson County, Texas",48,181,GRAYSON,Texas,TX,TX-GRAYSON,48181,131014.0,0.864992,...,14525.0,311.0,46.0,18.0,0.0,2240.0,437.0,113437.0,28.889576,29.084234
2108,"Washington County, Wisconsin",55,131,WASHINGTON,Wisconsin,WI,WI-WASHINGTON,55131,134925.0,0.947727,...,2586.0,49.0,86.0,9.0,10.0,958.0,572.0,130655.0,36.809401,41.654699

In [ ]:
crime_df = pd.read_csv(f'{data_path}/processed/weighted_crime_data_fips_split.csv').rename(columns={'fips_keys': 'FIPS'})

In [ ]:
crime_df

       FIPS  final_2019_crimes  crime_rate
0      1001          64.744221  116.909030
1      1003         334.000000  156.932763
2      1005          79.000000  311.501912
3      1007          24.489408  108.875686
4      1009         157.000000  272.186682
...     ...                ...         ...
3127  56037          82.000000  188.414788
3128  56039           0.000000    0.000000
3129  56041          32.000000  156.257630
3130  56043          10.000000  124.579544
3131  56045          10.000000  141.864094

[3132 rows x 3 columns]

In [ ]:
crime_df.sort_values(by='crime_rate', ascending=False)

       FIPS  final_2019_crimes   crime_rate
1589  29510             5792.0  1879.457709
1208  24510            11101.0  1822.728527
122    5035              740.0  1520.381328
2496  47157            13435.0  1434.789945
82     2185              123.0  1256.127451
...     ...                ...          ...
1406  28027                0.0     0.000000
84     2195               10.0          NaN
1134  22059               33.0          NaN
1794  35013              759.0          NaN
2402  46102                0.0          NaN

[3132 rows x 3 columns]

In [ ]:
main_df = main_df.merge(crime_df, how='left', left_on='FIPS', right_on='FIPS')
main_df.sample(5)

,NAME,state,county,County_Name,State_Name,State_Abbreviation,State_Abbreviation_County,FIPS,population,white,...,hispanic_or_latino_american_indian_total,hispanic_or_latino_asian_total,hispanic_or_latino_hawaiian_total,hispanic_or_latino_some_other_race_total,hispanic_or_latino_two_or_more_races_total,not_hispanic_or_latino_total,transit_trips_index,transit_low_cost_index,final_2019_crimes,crime_rate
2618,"Baltimore city, Maryland",24,510,BALTIMORE CITY,Maryland,MD,MD-BALTIMORE CITY,24510,609032.0,0.304564,...,290.0,44.0,25.0,8472.0,1745.0,576849.0,93.948582,95.797541,11101.0,1822.728527
478,"Gallatin County, Montana",30,31,GALLATIN,Montana,MT,MT-GALLATIN,30031,108063.0,0.938295,...,146.0,10.0,0.0,1036.0,445.0,104031.0,67.406750,54.473855,305.0,282.242766
721,"Decatur County, Indiana",18,31,DECATUR,Indiana,IN,IN-DECATUR,18031,26562.0,0.965853,...,85.0,0.0,0.0,20.0,14.0,26029.0,19.569647,26.074942,0.0,0.000000
2613,"Somerset County, Maryland",24,39,SOMERSET,Maryland,MD,MD-SOMERSET,24039,25729.0,0.527382,...,11.0,0.0,0.0,265.0,103.0,24799.0,37.258174,38.705676,69.0,268.179875
2790,"Polk County, Nebraska",31,143,POLK,Nebraska,NE,NE-POLK,31143,5225.0,0.973014,...,0.0,0.0,0.0,49.0,0.0,4937.0,28.161792,35.820655,0.0,0.000000

In [ ]:
# 
juvenile_crime_df = pd.read_csv(f'{data_path}/processed/juvenile_arrests_fips.csv')

In [ ]:
main_df = main_df.merge(juvenile_crime_df, how='left', left_on='FIPS', right_on='FIPS')

In [ ]:
# calculate rate of juvenile crime(arrests) per 100k residents 
main_df['juvenile_crime_rate'] = (main_df['Total_Juvenile_Arrests']/main_df['population']) * 100000

In [ ]:
main_df.head()

,NAME,state,county,County_Name,State_Name,State_Abbreviation,State_Abbreviation_County,FIPS,population,white,...,hispanic_or_latino_hawaiian_total,hispanic_or_latino_some_other_race_total,hispanic_or_latino_two_or_more_races_total,not_hispanic_or_latino_total,transit_trips_index,transit_low_cost_index,final_2019_crimes,crime_rate,Total_Juvenile_Arrests,juvenile_crime_rate
0,"Sebastian County, Arkansas",5,131,SEBASTIAN,Arkansas,AR,AR-SEBASTIAN,5131,127591.0,0.734785,...,10.0,11820.0,1074.0,109447.0,35.267748,17.683292,976.849587,765.610104,607.0,475.738884
1,"Sevier County, Arkansas",5,133,SEVIER,Arkansas,AR,AR-SEVIER,5133,17081.0,0.629003,...,0.0,4654.0,42.0,11370.0,13.297336,6.855814,60.000000,351.267490,77.0,450.793279
2,"Sharp County, Arkansas",5,135,SHARP,Arkansas,AR,AR-SHARP,5135,17139.0,0.950114,...,0.0,53.0,47.0,16748.0,5.295414,1.105451,13.920429,81.220777,123.0,717.661474
3,"Stone County, Arkansas",5,137,STONE,Arkansas,AR,AR-STONE,5137,12475.0,0.965451,...,0.0,1.0,0.0,12232.0,7.195850,0.887049,11.000000,88.176353,0.0,0.000000
4,"Union County, Arkansas",5,139,UNION,Arkansas,AR,AR-UNION,5139,39449.0,0.638825,...,0.0,177.0,13.0,37872.0,18.841998,11.866298,299.000000,757.940632,75.0,190.118888

In [ ]:
# diversity poverty 
diversity_poverty_df = pd.read_csv(f'{data_path}/interim/county_diversity_poverty.csv')

In [ ]:
diversity_poverty_df['FIPS_county'] = diversity_poverty_df['county'].astype(str).str.zfill(3)
diversity_poverty_df['FIPS'] = (diversity_poverty_df['state'].astype(str) + diversity_poverty_df['FIPS_county']).astype(int)
diversity_poverty_df.drop(['FIPS_county','state', 'county', 'year'], axis=1, inplace=True)
diversity_poverty_df.head()

,hispanic_or_latino_exposure,white_exposure,black_exposure,native_american_exposure,asian_exposure,hawaiian_exposure,some_other_race_alone_exposure,two_more_races_exposure,proportion_high_poverty_neighborhood,FIPS
0,0.956510,0.212265,0.731823,0.991504,0.972936,0.991068,0.955512,0.965904,0.000000,1001
1,0.922474,0.125351,0.792728,0.978007,0.971191,0.998263,0.971838,0.970935,0.000000,1003
2,0.920309,0.506731,0.499511,0.990500,0.989702,0.999374,0.927236,0.982170,0.234909,1005
3,0.962017,0.202068,0.679886,0.996733,0.997198,0.000000,0.999066,0.990628,0.000000,1007
4,0.846191,0.044934,0.971955,0.996659,0.994517,0.993537,0.973111,0.978451,0.000000,1009

In [ ]:
main_df = main_df.merge(diversity_poverty_df, how='left', left_on='FIPS', right_on='FIPS')
main_df.sample(5)

,NAME,state,county,County_Name,State_Name,State_Abbreviation,State_Abbreviation_County,FIPS,population,white,...,juvenile_crime_rate,hispanic_or_latino_exposure,white_exposure,black_exposure,native_american_exposure,asian_exposure,hawaiian_exposure,some_other_race_alone_exposure,two_more_races_exposure,proportion_high_poverty_neighborhood
2842,"Teton County, Idaho",16,81,TETON,Idaho,ID,ID-TETON,16081,11426.0,0.888587,...,NaN,0.831262,0.111413,0.000000,0.992736,0.000000,0.0,0.916856,0.978995,0.0
1737,"Stafford County, Kansas",20,185,STAFFORD,Kansas,KS,KS-STAFFORD,20185,4181.0,0.947620,...,334.848122,0.799258,0.052263,0.997122,0.986164,0.997837,0.0,0.981542,0.972772,0.0
2283,"Bristol County, Rhode Island",44,1,BRISTOL,Rhode Island,RI,RI-BRISTOL,44001,48764.0,0.941904,...,0.000000,0.959459,0.057423,0.963634,0.996618,0.964381,0.0,0.983806,0.972419,0.0
2083,"Sussex County, Virginia",51,183,SUSSEX,Virginia,VA,VA-SUSSEX,51183,11377.0,0.398611,...,386.745188,0.958990,0.584124,0.437434,0.000000,0.953204,0.0,0.986825,0.965360,0.0
2996,"Roberts County, South Dakota",46,109,ROBERTS,South Dakota,SD,SD-ROBERTS,46109,10287.0,0.576650,...,942.937688,0.953024,0.348424,0.992131,0.514102,0.996704,0.0,0.987593,0.970980,0.0

In [ ]:
debt_df = pd.read_csv(f'{data_path}/processed/household_debt.csv')

In [ ]:
main_df = main_df.merge(debt_df, how='left', left_on='FIPS', right_on='FIPS')
main_df.sample(5)

,NAME,state,county,County_Name,State_Name,State_Abbreviation,State_Abbreviation_County,FIPS,population,white,...,hispanic_or_latino_exposure,white_exposure,black_exposure,native_american_exposure,asian_exposure,hawaiian_exposure,some_other_race_alone_exposure,two_more_races_exposure,proportion_high_poverty_neighborhood,debt_all
1157,"Milam County, Texas",48,331,MILAM,Texas,TX,TX-MILAM,48331,24770.0,0.852685,...,0.719084,0.143338,0.861916,0.995120,0.991924,0.0,0.977514,0.958936,0.000000,0.350311
2893,"Huron County, Michigan",26,63,HURON,Michigan,MI,MI-HURON,26063,31349.0,0.969855,...,0.963495,0.029957,0.992441,0.994551,0.987815,0.0,0.994075,0.983839,0.000000,0.176306
3109,"Roane County, West Virginia",54,87,ROANE,West Virginia,WV,WV-ROANE,54087,14020.0,0.978816,...,0.980789,0.021038,0.998285,0.998452,0.997247,0.0,0.993561,0.977779,0.000000,0.409756
3005,"Union County, South Dakota",46,127,UNION,South Dakota,SD,SD-UNION,46127,15368.0,0.937272,...,0.960042,0.061258,0.988971,0.986699,0.976917,0.0,0.983444,0.968323,0.000000,0.100746
2661,"Lamar County, Mississippi",28,73,LAMAR,Mississippi,MS,MS-LAMAR,28073,61969.0,0.764414,...,0.948556,0.210273,0.722767,0.996601,0.980663,0.0,0.985265,0.970745,0.120531,0.249327

In [ ]:
aqi_df = pd.read_csv(f'{data_path}/processed/fips_air_quality_index.csv')

In [ ]:
main_df = main_df.merge(aqi_df, how='left', left_on='FIPS', right_on='FIPS')
main_df.sample(5)

,NAME,state,county,County_Name,State_Name,State_Abbreviation,State_Abbreviation_County,FIPS,population,white,...,white_exposure,black_exposure,native_american_exposure,asian_exposure,hawaiian_exposure,some_other_race_alone_exposure,two_more_races_exposure,proportion_high_poverty_neighborhood,debt_all,AQI
718,"Crawford County, Indiana",18,25,CRAWFORD,Indiana,IN,IN-CRAWFORD,18025,10569.0,0.970574,...,0.029258,0.994208,0.996387,0.000000,0.000000,0.997311,0.975156,0.0,0.337912,NaN
2401,"Franklin city, Virginia",51,620,FRANKLIN CITY,Virginia,VA,VA-FRANKLIN CITY,51620,8147.0,0.368602,...,0.448933,0.302339,0.000000,0.976776,0.000000,0.987715,0.958998,0.0,0.560000,NaN
38,"Nevada County, California",6,57,NEVADA,California,CA,CA-NEVADA,6057,99244.0,0.924247,...,0.074431,0.985325,0.980767,0.972702,0.991978,0.932350,0.948827,0.0,0.146736,44.0
2116,"Vernon County, Wisconsin",55,123,VERNON,Wisconsin,WI,WI-VERNON,55123,30633.0,0.973329,...,0.026380,0.995140,0.997675,0.989404,0.998338,0.988997,0.978602,0.0,0.133657,NaN
148,"Otero County, Colorado",8,89,OTERO,Colorado,CO,CO-OTERO,8089,18282.0,0.901378,...,0.095650,0.990211,0.978641,0.973674,0.997030,0.944007,0.954854,0.0,0.309298,NaN

In [ ]:
main_df.to_csv(f'{data_path}/processed/counties_merged.csv', index=False)

In [ ]:
main_df['AQI'].isna().sum()

2178