In [ ]:
import pandas as pd
data_path = 'data'

Mounted at /content/drive

In [ ]:
df = pd.read_csv(f'{data_path}/interim/crime_data_fips_split.csv')

In [ ]:
df

,Unnamed: 0,STATE,COUNTY,FIPS,1985,1986,1987,1988,1989,1990,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,0,AL,JEFFERSON,01073,3675.166667,4122.666667,4166.5,4197.666667,4498.666667,4841.666667,...,3259.5,3509.333333,3276.0,3405.833333,3841.166667,4026.333333,3601.166667,4179.333333,1132.666667,1550.166667
1,1,AL,SHELBY,01117,1793.166667,2045.166667,1942.0,1863.166667,2208.166667,2264.666667,...,1890.0,1956.833333,1642.0,1883.333333,2430.666667,2244.333333,1601.166667,2533.833333,315.666667,702.666667
2,2,AL,ST CLAIR,01115,92.166667,116.666667,107.5,163.666667,162.166667,132.666667,...,183.0,172.333333,162.5,135.333333,278.166667,401.833333,475.166667,397.833333,257.166667,109.666667
3,3,AL,MOBILE,01097,3067.000000,4907.000000,4347.0,4308.000000,4602.000000,6956.000000,...,2524.0,2287.000000,2411.0,2115.000000,2202.000000,2427.000000,2557.000000,2191.000000,328.000000,491.000000
4,4,AL,MONTGOMERY,01101,620.000000,492.000000,409.0,549.000000,827.000000,1067.000000,...,788.0,897.000000,845.0,1066.000000,1061.000000,1333.000000,1393.000000,1327.000000,242.000000,760.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3175,3175,WY,TETON,56039,15.000000,22.000000,19.0,26.000000,27.000000,33.000000,...,71.0,40.000000,62.0,49.000000,19.000000,30.000000,28.000000,2.000000,0.000000,10.000000
3176,3176,WY,UINTA,56041,83.000000,142.000000,90.0,52.000000,63.000000,50.000000,...,12.0,7.000000,7.0,9.000000,18.000000,19.000000,18.000000,18.000000,32.000000,56.000000
3177,3177,WY,WASHAKIE,56043,17.000000,34.000000,25.0,31.000000,20.000000,18.000000,...,3.0,5.000000,8.0,7.000000,1.000000,6.000000,13.000000,2.000000,10.000000,9.000000
3178,3178,WY,WESTON,56045,16.000000,13.000000,12.0,13.000000,15.000000,8.000000,...,7.0,5.000000,10.0,11.000000,6.000000,8.000000,13.000000,19.000000,10.000000,12.000000
3179,3179,WY,NaN,NOFIPS,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,...,82.0,40.000000,43.0,74.000000,108.000000,152.000000,120.000000,68.000000,78.000000,95.000000

In [ ]:
import numpy as np
# format the df and prepare for merge

formatted_crime_df = df[['FIPS', '2019']]
formatted_crime_df = formatted_crime_df.replace('NOFIPS', np.nan)
formatted_crime_df = formatted_crime_df.rename(columns={'2019': 'crime'})

In [ ]:
#formatting so we can easily merge with the other dfs
formatted_crime_df['FIPS'] = formatted_crime_df['FIPS'].fillna(-1).astype(int).replace(-1, np.nan)

In [ ]:
formatted_crime_df

         FIPS        crime
0      1073.0  1132.666667
1      1117.0   315.666667
2      1115.0   257.166667
3      1097.0   328.000000
4      1101.0   242.000000
...       ...          ...
3175  56039.0     0.000000
3176  56041.0    32.000000
3177  56043.0    10.000000
3178  56045.0    10.000000
3179      NaN    78.000000

[3180 rows x 2 columns]

In [ ]:
formatted_crime_df.to_csv(f'{data_path}/processed/crime_data_fips_split.csv', index=False)